
<body>
    <div class="background">
        <div class="blur-overlay"></div>
        <div class="container">
            <div class="titolo">
                <h1><strong>Benvenuti in SwanKicks</strong></h1>
                <h2><strong>Effettua l'accesso per acquistare o vendere Sneakers!</strong></h2>
            </div>
            <div class="corpo">
                <h2><strong>Puoi effettuare il login come:</strong></h2>
                <ul>
                    <li>
                        <h2>Acquirente</h2>
                        <ul>
                            <li>Possono effettuare una ricerca di sneakers, che può avvenire filtrando per:
                                <ul>
                                    <li>Tipo scarpa: High, Mid, Low</li>
                                    <li>Tipo vendita: In Vendita, Asta</li>
                                    <li>Prezzo: crescente, decrescente</li>
                                    <li>Anno di uscita: crescente, decrescente</li>
                                </ul>
                            <li>È possibile aggiungere una sneakers al carrello</li>
                            <li>È possibile gestire la propria area personale</li>
                            <li>L'acquirente potrà scrivere una recensione su un determinato articolo</li>
                            <li>Possono visualizzare il carrello e lo sotrico degli ordini</li>
                            <li>Possono contattare il venditore tramite mail o numero di telefono</li>
                            <li>Possono condividere l'annuncio via Whatsapp, Facebook, Mail</li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <h2>Venditore</h2>
                        <ul>
                            <li> Possono creare, modificare, cancellare annunci</li>
                            <li> Possono gestire la propria area personale</li>
                            <li> È possibile creare delle aste per gli annunci</li>
                            <li>Possono condividere l'annuncio via Whatsapp, Facebook, Mail</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>