<body>
    <div class="background">
        <div class="blur-overlay"></div>
        <div class="container">

            <h1><strong>Chi Siamo</strong></h1>

            <h3>SwanKicks è uno dei principali e-commerce online per la vendita e l'acquisto di sneakers. <br>
                Gli utenti una volta registrati potranno accedere ad un vasto catalogo contenente sneakers di vario genere, dalle più famose alle più utili per ogni evento.
                SwanKicks offre molte funzionalità permettendo di filtrare la ricerca in base alle tue preferenze ed anche di decidere se vendere o acquistare un determinato articolo.<br>
                Gli utenti che desiderano di acquistare una particolare sneakers potranno partecipare ad aste in tempo reale, oppure acquistare direttamente le sneakers vendute con un prezzo fisso.
                Ogni utente, inoltre, avrà a disposizione un proprio carrello per aggiungere le sneakers che desidera.<br>
                Invece, gli utenti che desiderano vendere una sneakers potranno aggiungere, modificare o eliminare del tutto un annuncio. Potranno scegliere se metterla all'asta o fissare un prezzo.<br> 
                Tutta la piattaforma verrà gestita e monitorata da degli Admin, che si dedicheranno al controllo delle vendite e degli acquisti da parte dei milioni di utenti registrati.<br>
                Buon viaggio all'interno del mondo di SwanKick!
            </h3>

        </div>
    </div> 
</body>
